{% extends 'base.html.twig' %}

{% block title %}Group Information{% endblock %}

{% block page_title %}Group Information<small>It will display customer information belongs to this groups.</small>{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
			<!-- Profile Image -->
			<div class="box box-primary">
                <div class="box-body box-profile">
                  <img class="profile-user-img img-responsive img-circle" src="{{ asset('asset/img/group.png') }}" alt="Group Picture">
                  <h3 class="profile-username text-center">{{ group.name }}</h3>
                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b><i class="fa fa-cogs" aria-hidden="true"></i> Total Purchased</b> <a class="pull-right"><span class="label label-success">{{ group.purchase }}</span></a>
                    </li>
                    <li class="list-group-item">
                      <b><i class="fa fa-tree" aria-hidden="true"></i> Total Advance Paid</b> <a class="pull-right"><span class="label label-success">{{ group.advance }}</span></a>
                    </li>
                    <li class="list-group-item">
                      <b><i class="fa fa-check" aria-hidden="true"></i> EMI Completed</b> <a class="pull-right"><span class="label label-success">{{ group.completed }}</span></a>
                    </li>
                    <li class="list-group-item">
                      <b><i class="fa fa-exclamation-circle" aria-hidden="true"></i> EMI Pending</b> <a class="pull-right"><span class="label label-danger">{{ group.pending }}</span></a>
                    </li>
                  </ul>
                </div><!-- /.box-body -->
            </div>
			<!-- About Me Box -->
			<div class="box box-primary">
				<div class="box-header with-border">
				  <h3 class="box-title">Group Details</h3>
				</div><!-- /.box-header -->
				<div class="box-body">
				  <strong><i class="fa fa-book margin-r-5"></i>  Group Leader</strong>
				  <p class="text-muted">
					{{ group.leadername }}({{ group.mobile }})
				  </p>
				  <hr>
				  <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
				  <p class="text-muted">{{ group.address }}</p>
				</div><!-- /.box-body -->
			</div>
		</div>
		<div class="col-md-9">
		    <div class="nav-tabs-custom">
		        <ul class="nav nav-tabs">
                  <li class="active"><a href="#customers" data-toggle="tab" aria-expanded="true">Customers</a></li>
                  <li class=""><a href="#products" data-toggle="tab" aria-expanded="false">Products</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="customers">
                        <table class="table table-striped">
							<tbody>
								<tr>
									<th>Book No</th>
									<th>Customer</th>
									<th>Mobile</th>
									<th>Purchase</th>
									<th>Adv Paid</th>
									<th>Paid</th>
									<th>Pending</th>
									<th>EMI</th>
									<th>Action</th>
								</tr>
								{% if group.customers|length > 0 %}
								{% for customer in group.customers %}
								<tr>
								  <td><a href="{{ path('customers_show', { 'id': customer.id }) }}">{{ customer.bookno }}</a></td>
								  <td><a href="{{ path('customers_show', { 'id': customer.id }) }}">{{ customer.name }}</a></td>
								  <td>{{ customer.mobile }}</td>
								  <td>{{ customer.ProductPrice }}</td>
								  <td>{{ customer.AdvancePaid }}</td>
								  <td>{{ customer.completed }}</td>
								  <td>{{ customer.pending }}</td>
								  <td>{{ customer.emiAmount }}</td>
								  <td>
								  	<div class="btn-group">
									  <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Action <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu dropdown-menu-right">
									    <li><a href="{{ path('customers_show', { 'id': customer.id }) }}">Show</a></li>
									    <li><a href="{{ path('emis_create', { 'id': customer.id }) }}">Add EMI</a></li>
									    <li><a href="{{path('customers_edit', {'id':customer.id})}}">Edit</a></li>
									    <li><a class="delete" href="{{ path('customers_normal_delete', { 'id': customer.id }) }}">Delete</a></li>
									  </ul>
									</div>
								  </td>
								</tr>
								{% endfor %}
								{% else %}
								<tr>
									<td colspan="9">No record found yet.</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
                    </div>
                    <div class="tab-pane" id="products">
                    	<table class="table table-striped">
							<tbody>
								<tr>
									<th>Product No</th>
									<th>Product</th>
									<th>Customer</th>
									<th>Book No</th>
									<th>Price</th>
									<th>Advance Paid</th>
									<th>Advance Paid Date</th>
								</tr>
								{% if group.customers|length > 0 %}
								{% for product in group.customers %}
								<tr>
									<td>{{product.ProductNo}}</td>
									<td>{{product.ProductName}}</td>
									<td>{{product.name}}</td>
									<td>{{product.bookno}}</td>
									<td>{{product.ProductPrice}}</td>
									<td>{{product.AdvancePaid}}</td>
									<td>{{product.AdvancePaidDate|date('d-m-Y')}}</td>
								</tr>
								{% endfor %}
								{% else %}
								<tr>
									<td colspan="7">No record found yet.</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
                    </div>
                </div>
		    </div>
		</div>
    </div>
{% endblock %}
